/* Css para la calculadora y para alinear de manera vertical la aplicación */

html, body, #root {
  height: 100%;
  box-sizing: border-box;
}

html  * {
  box-sizing: inherit;
}

body {
  margin: 0;
}

